
<div class="container-fluid" id="forming">
<div class="card">
  <%= image_tag(product.image_url, class: "img-responsive", id:"productpic") %>
  <div class="row">
    <div class="dropdown" id="inform">
    <button class="btn btn-primary dropdown-toggle" id= "button" type="button" data-toggle="dropdown">Infos
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
    <li><a href="#"><%= product.name %></a></li>
    <li><a href="#"><%= product.description %></a></li>
    <li><a href="#"><%= product.color %></a></li>
    <li><a href="#"><%= product.price %> Euro / 100 g</a></li>
  </ul>
</div>
    <div class="links" id="logs">
    <p><%= link_to 'Show', product %>
    <% if current_user && current_user.admin? %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </p>
        <p>
    <%= link_to 'New Product', new_product_path %>
    <% logger.debug "Product: #{product.name}"%>
    </p>
    </div>
    
  </div>
</div>
</div>
<!-- /col -->
  