<!-- <p id="notice"><%= notice %></p> -->
<div class="container-fluid">
    <div class="row" id="black">
        <a href="#" class="thumbnail">
            <%=image_tag(@product.image_url, class: "img-responsive", id: "productpic") %>
        </a>
    </div>
</div>
<div class="col-xs-6 col-sm-3" style="font-size:10px;">
    <p>
        <strong>Name:</strong>
        <%=@product.name %>
    </p>
</div>
<div class="col-xs-6 col-sm-3" style="font-size:10px;">
    <p>
        <strong>Description:</strong>
        <%=@product.description %>
    </p>
</div>
<div class="clearfix visible-xs-block"></div>
<div class="col-xs-6 col-sm-3" style="font-size:10px;">
    <p>
        <strong>Color:</strong>
        <%=@product.color %>
    </p>
</div>
<div class="col-xs-6 col-sm-3" style="font-size:10px;">
    <p>
        <strong>Price:</strong>
        <%=@product.price %>
    </p>
</div>
    <%=link_to 'Edit', edit_product_path(@product) %> |
        <%=link_to 'Back', products_path %>
        <%= @product.highest_rating_comment %>
        <%= @product.lowest_rating_comment %>
