  <div class="row" data-product-id="<%= @product.id %>">
   <div class="col-md-8">
   <div class="card" id="showing">
      <%=image_tag(@product.image_url, width: "100", class:"img-zoom img-responsive", data_zoom_image: @product.image_url) %>
   </div>
   </div>
   <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
   <div class="container">
   <div class="col-md-4" id="sentence">
   <table id="customers">
    <tr>
    <th><strong>Name:</strong></th>
    <th><strong>Description:</strong></th>
    <th><strong>Color:</strong></th>
    <th><strong>Price:</strong></th>
  </tr>
  <tr>
    <td><%=@product.name %></td>
    <td><%=@product.description %></td>
    <td><%=@product.color %></td>
    <td><%=@product.price %></td>
    </tr>
    </table>
    <br>
      <div class="product-title">
        <% if signed_in? %>
          <%= form_tag "/payments/create" do %>
            <%= render "shared/stripe_checkout_button" %>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>

    <br>
    <div class="free">
        <%=link_to 'Edit', edit_product_path(@product) %> |
        <%=link_to 'Back', products_path %>
    </div>
    <br>
    <div class="dropdown" id="like">
    <button class="dropbtn">Average Rating</button>
    <div class="dropdown-content">
    <a> <div class="rated" data-score="<%= @product.average_rating %>" id="stars"></div> </a>
    </div>
    </div>
<br>
<br>
        <%= render partial: 'new_comment' %>
        <%= render partial: 'comments' %>
   <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @comments %>
    </div>
    <%= will_paginate @comments, :container => false %>
  </div>

