<!DOCTYPE html>
<html>
  <head>
    <title>Apic</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
      <nav class="navbar navbar-inverse" id="navi">
        <div class="container-fluid">
        <div class="navbar-header" style: "color: white;">
          <a class="navbar-brand" href="http://localhost:3000/">Märzstraße</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="https://huan.herokuapp.com">Home</a></li>
          <li><a href="https://huan.herokuapp.com/static_pages/contact">Contact</a></li>
          <li><a href="https://huan.herokuapp.com/static_pages/about">About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            <% else %>
            <%= link_to('Login', new_user_session_path) %>
            <% end %>
          </li>
        </ul>
          <div class="col-sm-4 col-md-4 pull-right suchfeld" id="rightwing">
                <%= form_tag("/products", method: "get") do %>
              <%= label_tag(:q, "Search for:") %>
          <%= text_field_tag(:q) %>
          <div class="Searchit">
          <%= submit_tag("Search") %>
          </div>
          <% end %>
          </div>
        </nav>
      

      
    <%= yield %>
    <footer>
<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fyunghurn%2F%3Ffref%3Dts&tabs=timeline&width=50px&height=50px&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="450px" height="70px" style="border:none;overflow
hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
&copy; Life from Earth
</footer>
  </body>
</html>
